<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Twatter: a Twitter Clone</title>
  </head>
  <body>
    things
    <div class='container'>
      {{outlet}}
    </div>
  </body>
</html> -->

<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul>
      <li>About</li>
      <li>Posts</li>
    </ul>
  </nav>
  {{outlet}}
</div>
